.inventory-container{
    height: auto;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: table;
    // background-color: #a2b987;
};
.top-50{
    margin-top: 50px;
};
.current-inventory{
    color: black;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
};
.left-15{
    margin-left: 15px;
};
.table-outline{
    border: 2px solid #a4c3a3;
}
.table-outline-add{
    border: 2px solid #a49a08;
}

.mat-sort-header-container {
    align-items: center;
}
::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}
.search-product{
    border: 2px solid #fa6233;
}