<app-navvar [selectedId]="1"></app-navvar>
<div class = "container-fluid  no-padding">
    <div class = "inventory-container top-50">
        <span class = "current-inventory">Current Inventory</span>
        <table class="table table-hover table-fixed table-outline">
            <thead>
                <tr>
                    <th *ngFor="let field of inventoryFields" scope="col">{{field}} </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let inventory of currentInventories">
                    <td scope="row" >{{inventory.id}}</td>
                    <td>{{inventory.ProductName}}</td>
                    <td>{{inventory.SKU}}</td>
                    <td>{{inventory.Quantity}}</td>
                    <td>{{inventory.Price}}</td>
                    <td><button type="button" class="btn btn-success">Save</button></td>
                    <td><button type="button" class="btn btn-warning" (click) = "deleteInventory(inventory.id)">Remove</button></td>
                </tr>
            </tbody>
        </table>
        <span class = "current-inventory">Add Inventory</span>
        <table class="table table-striped table-outline-add" matSort (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th>
                        <input class="form-control mr-sm-2 search-product" type="search" placeholder="Product Search" aria-label="Search" [(ngModel)] = "queryString"/>
                    </th>
                    <th>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>No</th>
                    <th>Product Name</th>
                    <th>SKU</th>
                    <th class="text-center" mat-sort-header="vendor">Vendor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of sortedData| filterproduct: queryString: 'name'; let i = index">
                    <td>{{i + 1 }}</td>
                    <td>{{inventory.name}}</td>
                    <td>{{inventory.sku}}</td>
                    <td>{{inventory.vendor}}</td>
                    <td><button type="button" class="btn btn-success" (click)="showInventory(content)">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #content let-close="close" let-dismiss="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order Products</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-fixed">
            <thead>
                <tr>
                    <H3>Hello!</H3>
                </tr>
            </thead>
            <tbody>
                <td><h1>Items added to card</h1></td>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
    </div>
</ng-template>
