<app-navvar [selectedId]="2"></app-navvar>
<div class = "container-fluid no-padding">
    <div class = "order-container mt-50 ">
        <span class = "pending-orders">Pending Orders</span>
        <table class="table table-hover table-fixed table-outline w-100 d-block d-md-table"> 
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col"*ngFor = "let field of orderFields">{{field}}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor = "let product of orderProducts; let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{product.firstName}}</td>
                    <td>{{product.lastName}}</td>
                    <td>{{product.orderDetails.productName}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.orderDetails.quantity}}</td>
                    <td>{{product.orderSubtotal.finalTotal}}</td>
                    <td id = "orderButton-container">
                        <button class = "btn btn-outline-success startButton"><i class="fas fa-sign-in-alt"></i></button>
                        <p class = "orderButton-text">Start</p>
                    </td>
                    <td id = "orderButton-container">
                        <button class = "btn btn-outline-info" (click)="showOrder(content, id = i)"><i class="fas fa-eye"></i></button>
                        <p class = "orderButton-text">View</p>
                    </td>
                    <td id = "orderButton-container">
                        <button class = "btn btn-outline-warning"><i class="fas fa-spinner"></i></button>
                        <p class = "orderButton-text">Ready</p>
                    </td>
                    <td id = "completeButton-container">
                        <button class = "btn btn-outline-primary"><i class="fas fa-thumbs-up"></i></button>
                        <p class = "completeButton-text">Complete</p>
                    </td>
                    <td id = "orderButton-container">
                        <button class = "btn btn-outline-danger"><i class="fas fa-times-circle"></i></button>
                        <p class = "orderButton-text">Cancel</p>
                    </td>
                </tr> 
            </tbody>
        </table>
        <span class = "pending-orders">Past Orders</span>
        <table class="table table-hover table-outline-past">
            <thead>
                <tr>
                    <th>NO</th>
                    <th *ngFor = "let field of orderFields2" scope="col">{{field}}</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor = "let product of orderProducts; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{product.firstName}}</td>
                    <td>{{product.lastName}}</td>
                    <td>{{product.orderDetails.productName}}</td>
                    <td>{{product.ProductSku}}</td>
                    <td>{{product.orderDetails.quantity}}</td>
                    <td>{{product.orderSubtotal.finalTotal}}</td>
                </tr>
            </tbody>
        </table>    
    </div>
</div>

<ng-template #content let-close="close" let-dismiss="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Products of Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-fixed table-outline">
            <thead>
                <tr>
                    <th *ngFor = "let field of orderFields3" scope="col">{{field}}</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol>
                    <td>{{ id + 1 }}</td>
                    <td>{{orderProducts[id].orderDetails.productId}}</td>
                    <td>{{orderProducts[id].orderDetails.productName}}</td>
                    <td>{{orderProducts[id].orderDetails.quantity}}</td>
                    <td>{{orderProducts[id].orderDetails.price.selectedPrice.finalAmount}}</td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
    </div>
</ng-template>
